@charset "UTF-8";
/* line 2, ../scss/_edicio.scss */
b.form-label {
  font-weight: 300;
}

/* line 7, ../scss/_edicio.scss */
#formfield-form-widgets-infoAfectats,
#formfield-form-widgets-infoAssistents {
  position: relative;
  padding: 1rem 1rem;
  border: 3px solid transparent;
  border-radius: .25rem;
  animation-fill-mode: forwards !important;
  animation-delay: 1s !important;
  animation: 1.5s ease-in alert-animation;
  color: var(--bs-info-text-emphasis);
  background-color: var(--bs-info-bg-subtle);
  border-color: var(--bs-info-border-subtle);
}
/* line 20, ../scss/_edicio.scss */
#formfield-form-widgets-infoAfectats b.form-label,
#formfield-form-widgets-infoAssistents b.form-label {
  font-weight: 700;
}

/* line 29, ../scss/_edicio.scss */
body.template-excusar_assist_sessio #social_tags {
  display: none !important;
}

/* line 3, ../scss/_homepage.scss */
body.template-search .card-organ {
  transition: all .25s ease-out;
}
/* line 6, ../scss/_homepage.scss */
body.template-search .card-organ:hover {
  transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 10px 20px !important;
  transition: 0.25s ease-in;
  text-decoration: none;
}
/* line 16, ../scss/_homepage.scss */
body.template-search .card-organ .card-ic i.bi {
  font-size: 2.25rem;
}
/* line 21, ../scss/_homepage.scss */
body.template-search .card-organ .card-ic-circle {
  width: 2.5rem;
  height: 2.5rem;
}
/* line 25, ../scss/_homepage.scss */
body.template-search .card-organ .card-ic-circle i.bi::before {
  font-weight: 600 !important;
}
/* line 33, ../scss/_homepage.scss */
body.template-search .meva-vinculacio a {
  text-decoration: none;
}
/* line 36, ../scss/_homepage.scss */
body.template-search .meva-vinculacio a:hover {
  text-decoration: underline;
}

/* line 1, ../scss/_generic.scss */
.label-convocada,
.label-tancada,
.label-realitzada,
.label-open_organ,
.label-Públic,
.label-Obert,
.label-planificada,
.label-restricted_to_affected_organ,
.label-en_correccio,
.label-restricted_to_members_organ {
  padding: 1px 4px 2px;
  border-radius: 3px !important;
  font-weight: bold !important;
  line-height: 14px !important;
  color: white !important;
  vertical-align: baseline !important;
  white-space: nowrap !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  text-align: center !important;
}

/* line 22, ../scss/_generic.scss */
.label-convocada {
  background-color: #8952ab !important;
}

/* line 26, ../scss/_generic.scss */
.label-tancada {
  background-color: #007bc0 !important;
}

/* line 30, ../scss/_generic.scss */
.label-realitzada,
.label-open_organ,
.label-Públic,
.label-Obert {
  background-color: #456211 !important;
}

/* line 37, ../scss/_generic.scss */
.label-planificada {
  background-color: #FFA500 !important;
}

/* line 41, ../scss/_generic.scss */
.label-restricted_to_affected_organ {
  background-color: #FF5733 !important;
}

/* line 45, ../scss/_generic.scss */
.label-en_correccio,
.label-restricted_to_members_organ {
  background-color: #a62e1f !important;
}

/* line 50, ../scss/_generic.scss */
#workflow-transition-convocar {
  display: none !important;
}

/* line 65, ../scss/_generic.scss */
.portaltype-genweb-organs-organsfolder li#plone-contentmenu-workflow,
.portaltype-genweb-organs-organsfolder li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-organgovern li#plone-contentmenu-workflow,
.portaltype-genweb-organs-organgovern li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-punt li#plone-contentmenu-workflow,
.portaltype-genweb-organs-punt li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-subpunt li#plone-contentmenu-workflow,
.portaltype-genweb-organs-subpunt li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-file li#plone-contentmenu-workflow,
.portaltype-genweb-organs-file li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-documen li#plone-contentmenu-workflow,
.portaltype-genweb-organs-documen li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-acta li#plone-contentmenu-workflow,
.portaltype-genweb-organs-acta li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-audio li#plone-contentmenu-workflow,
.portaltype-genweb-organs-audio li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-annex li#plone-contentmenu-workflow,
.portaltype-genweb-organs-annex li#plone-contentmenu-multilingual,
.portaltype-genweb-organs-acord li#plone-contentmenu-workflow,
.portaltype-genweb-organs-acord li#plone-contentmenu-multilingual {
  display: none;
}

/* line 71, ../scss/_generic.scss */
.text-bg-signada {
  color: #fff !important;
  background-color: RGBA(var(--bs-success-rgb), var(--bs-bg-opacity, 1)) !important;
}

/* line 76, ../scss/_generic.scss */
.text-bg-pendent {
  color: #fff !important;
  background-color: RGBA(var(--bs-warning-rgb), var(--bs-bg-opacity, 1)) !important;
}

/* line 81, ../scss/_generic.scss */
.text-bg-rebutjada {
  color: #fff !important;
  background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
}

/* line 88, ../scss/_generic.scss */
.nav-tabs:not(.card-header-tabs) .nav-link.active {
  color: white !important;
  background: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

@media print {
  /* line 3, ../scss/_print.scss */
  body {
    width: 210mm;
    height: 297mm;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
    padding-left: 0rem !important;
  }

  /* line 11, ../scss/_print.scss */
  html, body {
    font-size: 15pt !important;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 130% !important;
  }

  /* line 17, ../scss/_print.scss */
  li {
    line-height: 130% !important;
  }

  /* line 21, ../scss/_print.scss */
  #content-header {
    padding-bottom: 50px;
  }

  /* line 25, ../scss/_print.scss */
  #hero,
  nav#portal-breadcrumbs,
  .nav-collapse-eines,
  #portal-personaltools-wrapper,
  #portal-globalnav,
  #portal-column-one,
  .alert,
  #edit-bar,
  #viewlet-below-content-title,
  #viewlet-above-content-title,
  #content-header,
  .header-image,
  #cookies,
  .extraInfo,
  #commenting,
  #viewlet-below-content > a,
  input[type="submit"],
  #content-core > button,
  .linkNotificacions,
  .btnActa,
  #peu > div > div.row-fluid,
  .reply-to-comment-button,
  .bannerOrgans,
  .sessionActions,
  #expandAll,
  #collapseAll,
  button.label.dropdown-toggle,
  button.remove.label.label-important,
  div.sessionCustomActions,
  .template-printacta #content-header,
  .template-printdocument #content-header,
  .template-printdocument #portal-footer-wrapper {
    display: none !important;
  }

  /* line 60, ../scss/_print.scss */
  #portal-column-content {
    margin: 0 !important;
    width: 100% !important;
  }

  /* line 65, ../scss/_print.scss */
  #peu .col-md-8 {
    width: 100% !important;
  }

  /* line 69, ../scss/_print.scss */
  div.pageBreak {
    page-break-before: always !important;
  }

  /* line 73, ../scss/_print.scss */
  #portal-breadcrumbs {
    display: inline !important;
  }

  /* line 77, ../scss/_print.scss */
  a {
    text-decoration: underline;
    color: black;
  }
  /* line 81, ../scss/_print.scss */
  a:hover {
    text-decoration: none;
  }

  /* line 86, ../scss/_print.scss */
  .plain a {
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }

  /* line 92, ../scss/_print.scss */
  h2,
  h3 {
    color: #557C95;
  }

  /* line 97, ../scss/_print.scss */
  h1 {
    font-size: 1.6rem !important;
    margin-top: 0px !important;
  }

  /* line 102, ../scss/_print.scss */
  h2 {
    font-size: 1.4rem !important;
    margin-bottom: 0.8rem !important;
  }

  /* line 107, ../scss/_print.scss */
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem !important;
  }

  /* line 112, ../scss/_print.scss */
  h4 {
    font-size: 1.2rem !important;
  }

  /* line 116, ../scss/_print.scss */
  .h4Print {
    color: #557C95;
  }

  /* line 120, ../scss/_print.scss */
  .caixa {
    width: 9cm;
    vertical-align: top;
  }

  /* line 125, ../scss/_print.scss */
  table {
    font-size: 0.8rem !important;
    line-height: 120% !important;
  }
  /* line 129, ../scss/_print.scss */
  table thead {
    border-bottom: 5px solid var(--bs-primary) !important;
  }
  /* line 133, ../scss/_print.scss */
  table tbody {
    line-height: 130% !important;
  }
  /* line 136, ../scss/_print.scss */
  table tbody > tr {
    height: auto !important;
  }

  /* line 142, ../scss/_print.scss */
  #portal-header,
  #portal-footer-wrapper {
    border: 0px;
  }

  /* line 147, ../scss/_print.scss */
  section#content-area {
    margin-top: 0px;
  }

  /* line 151, ../scss/_print.scss */
  .h2butlleti {
    line-height: inherit;
  }
}
/* line 5, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table {
  border: 0px solid transparent !important;
  border-spacing: 2px !important;
}
/* line 9, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td,
.portlet.portlet-calendar .card-body table th {
  padding: .35rem .25rem !important;
}
/* line 13, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events,
.portlet.portlet-calendar .card-body table th.cal_has_events {
  color: white;
  border-top: 0px solid transparent !important;
  border-bottom: 0px solid transparent !important;
}
/* line 18, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events button,
.portlet.portlet-calendar .card-body table th.cal_has_events button {
  color: white;
  text-decoration: none;
}
/* line 23, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events:hover,
.portlet.portlet-calendar .card-body table th.cal_has_events:hover {
  filter: brightness(80%);
}
/* line 27, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events .event-multiple::before,
.portlet.portlet-calendar .card-body table th.cal_has_events .event-multiple::before {
  content: "+";
  position: absolute;
  font-size: 1rem;
  bottom: -12px;
  right: -10px;
}
/* line 41, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end i::before {
  font-weight: 600 !important;
}
/* line 49, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end a,
.portlet.portlet-calendar .calendar-event-list a {
  text-decoration: none;
}
/* line 52, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end a:hover,
.portlet.portlet-calendar .calendar-event-list a:hover {
  text-decoration: underline;
}
/* line 56, ../scss/portlets/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end a.text-dark,
.portlet.portlet-calendar .calendar-event-list a.text-dark {
  color: #212529 !important;
}

/* line 5, ../scss/content/_organgovern.scss */
body.portaltype-genweb-organs-organgovern #contentOrgan .reorder {
  top: -38px;
}
/* line 8, ../scss/content/_organgovern.scss */
body.portaltype-genweb-organs-organgovern #contentOrgan .reorder a:hover i::before,
body.portaltype-genweb-organs-organgovern #contentOrgan .reorder a:hover {
  font-weight: 700 !important;
}

/* line 5, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio .sessionActions span,
body.portaltype-genweb-organs-sessio .sessionActions a {
  font-weight: normal !important;
  max-width: 130px;
}
/* line 10, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio .sessionActions span i::before,
body.portaltype-genweb-organs-sessio .sessionActions a i::before {
  font-size: 2rem;
}
/* line 14, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio .sessionActions span.btn-success,
body.portaltype-genweb-organs-sessio .sessionActions a.btn-success {
  cursor: default;
}
/* line 17, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio .sessionActions span.btn-success:hover,
body.portaltype-genweb-organs-sessio .sessionActions a.btn-success:hover {
  background-color: var(--bs-btn-bg) !important;
  border-color: var(--bs-btn-border-color) !important;
}
/* line 25, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio #sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}
/* line 31, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio #sortable .ui-state-grey,
body.portaltype-genweb-organs-sessio #sortable .ui-state-grey-not_move,
body.portaltype-genweb-organs-sessio #sortable .ui-state-grey-impersonate {
  border: 1px solid #eee;
  position: relative;
  font-weight: normal;
  color: black;
}
/* line 42, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio #sortable .ui-state-grey:hover {
  background: #f9f9f9 none repeat scroll 0 0;
  cursor: move;
  position: relative;
}
/* line 47, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio #sortable .ui-state-grey:hover:before {
  cursor: move;
  color: #007BC0;
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  left: 10px;
}
/* line 57, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio #sortable .ui-state-grey.picked {
  background: #e5f7ff !important;
}
/* line 62, ../scss/content/_sessio.scss */
body.portaltype-genweb-organs-sessio #sortable .ui-state-grey-file:hover {
  background: #f9f9f9 none repeat scroll 0 0 !important;
  position: relative;
}
