@charset "UTF-8";
/* line 2, ../scss/_edicio.scss */
b.form-label {
  font-weight: 300;
}

/* line 7, ../scss/_edicio.scss */
#formfield-form-widgets-infoAfectats,
#formfield-form-widgets-infoAssistents {
  position: relative;
  padding: 1rem 1rem;
  border: 3px solid transparent;
  border-radius: .25rem;
  animation-fill-mode: forwards !important;
  animation-delay: 1s !important;
  animation: 1.5s ease-in alert-animation;
  color: var(--bs-info-text-emphasis);
  background-color: var(--bs-info-bg-subtle);
  border-color: var(--bs-info-border-subtle);
}
/* line 20, ../scss/_edicio.scss */
#formfield-form-widgets-infoAfectats b.form-label,
#formfield-form-widgets-infoAssistents b.form-label {
  font-weight: 700;
}

/* line 3, ../scss/_homepage.scss */
body.template-searchorgans .card-organ {
  transition: all .25s ease-out;
}
/* line 6, ../scss/_homepage.scss */
body.template-searchorgans .card-organ:hover {
  transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 10px 20px !important;
  transition: 0.25s ease-in;
  text-decoration: none;
}
/* line 16, ../scss/_homepage.scss */
body.template-searchorgans .card-organ .card-ic i.bi {
  font-size: 2.25rem;
}
/* line 21, ../scss/_homepage.scss */
body.template-searchorgans .card-organ .card-ic-circle {
  width: 2.5rem;
  height: 2.5rem;
}
/* line 25, ../scss/_homepage.scss */
body.template-searchorgans .card-organ .card-ic-circle i.bi::before {
  font-weight: 600 !important;
}
/* line 33, ../scss/_homepage.scss */
body.template-searchorgans .meva-vinculacio a {
  text-decoration: none;
}
/* line 36, ../scss/_homepage.scss */
body.template-searchorgans .meva-vinculacio a:hover {
  text-decoration: underline;
}

/* line 5, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table {
  border: 0px solid transparent !important;
  border-spacing: 2px !important;
}
/* line 9, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td,
.portlet.portlet-calendar .card-body table th {
  padding: .35rem .25rem !important;
}
/* line 13, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events,
.portlet.portlet-calendar .card-body table th.cal_has_events {
  color: white;
  border-top: 0px solid transparent !important;
  border-bottom: 0px solid transparent !important;
}
/* line 18, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events button,
.portlet.portlet-calendar .card-body table th.cal_has_events button {
  color: white;
  text-decoration: none;
}
/* line 23, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events:hover,
.portlet.portlet-calendar .card-body table th.cal_has_events:hover {
  filter: brightness(80%);
}
/* line 27, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .card-body table td.cal_has_events .event-multiple::before,
.portlet.portlet-calendar .card-body table th.cal_has_events .event-multiple::before {
  content: "+";
  position: absolute;
  font-size: 1rem;
  bottom: -12px;
  right: -10px;
}
/* line 41, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end i::before {
  font-weight: 600 !important;
}
/* line 49, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end a,
.portlet.portlet-calendar .calendar-event-list a {
  text-decoration: none;
}
/* line 52, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end a:hover,
.portlet.portlet-calendar .calendar-event-list a:hover {
  text-decoration: underline;
}
/* line 56, ../scss/_portlet_calendar.scss */
.portlet.portlet-calendar .text-end a.text-dark,
.portlet.portlet-calendar .calendar-event-list a.text-dark {
  color: #212529 !important;
}

/* Estilos para mostrar/ocultar el icono correcto en el botón de colapso */
/* line 2, ../scss/_sessio.scss */
.btn-expand-collapse .bi-chevron-up {
  display: none;
}

/* line 3, ../scss/_sessio.scss */
.btn-expand-collapse[aria-expanded="true"] .bi-chevron-up {
  display: inline-block;
}

/* line 4, ../scss/_sessio.scss */
.btn-expand-collapse[aria-expanded="true"] .bi-chevron-down {
  display: none;
}

/* Estilo para que el botón no parezca un botón y tenga el cursor correcto */
/* line 7, ../scss/_sessio.scss */
.btn-expand-collapse {
  background: none;
  border: none;
  padding: 0;
  color: #557c95;
  cursor: pointer;
}
