.portaltype-genweb-organs-organgovern div.tab-pane.active,
.portaltype-genweb-organs-sessio div.tab-pane.active,
.portaltype-genweb-organs-acta div.tab-pane.active {
    padding-top: 20px;
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

ul#tabs.nav.nav-tabs {
    margin: 0px;
}

#contentOrgan #tabs li a,
#contentSessio #tabs li a,
#contentActa #tabs li a {
    background-color: #ddd;
    background-image: none;
    border: medium none;
    color: #555;
    margin-right: 5px;
    min-width: 85px;
    padding: 8px 20px;
    text-align: center;
    outline: medium none;    
}

#contentOrgan #tabs li.active a,
#contentSessio #tabs li.active a,
#contentActa #tabs li.active a  {
    background-image: none;
    background-color: #f0f0f0;
    border: none;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 0px solid #B2B2B2 !important;
}

#contentSessio #tabs > li.dropdown.open > ul > li > a {
    background-color: white;
    color: black;
}

#dadesTab li,
#multimediaTab li
 {
    border-bottom: 1px solid white;
    list-style: outside none;
    padding-bottom: 8px;
    padding-top: 8px;
}

#dadesTab ul,
#multimediaTab ul{
    margin-left:0px;
}

a.collapsed .icon-chevron-down{
    background-position: -456px -72px;
}

table th {
    background-color: #F7F7F7!important;
}

.containerIcons {
    text-align: center;
    padding: 10px;
}

.containerIcons > i {
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}
.containerIcons .fa {
    color: #557c95;
    font-size: 25px;
}
.containerIcons span {
    color: #557c95;
}

/* CSS  modal afegir punts massivament */
#form-widgets-message {
    width: 530px;
    height: 190px;
 }

/* add 98% to width */
input#form-widgets-title,
input#form-widgets-llocConvocatoria,
input#form-widgets-horaInici,
input#form-widgets-horaFi,
input#form-widgets-IBasic-title,
input#form-widgets-acronim,
input#form-widgets-fromMail ,
input#form-widgets-any,
input#form-widgets-numSessio,
input#form-widgets-enllacVideo,
input#form-widgets-enllacAudio,
input#form-widgets-proposalPoint,
input#form-widgets-agreement {width: 98%;}

/*  Hide view action tab */
.portaltype-genweb-organs-organsfolder #plone-contentmenu-display,
.portaltype-genweb-organs-acta #plone-contentmenu-display,
.portaltype-genweb-organs-organgovern #plone-contentmenu-display,
.portaltype-genweb-organs-punt #plone-contentmenu-display,
.portaltype-genweb-organs-sessio #plone-contentmenu-display {display:none;}

.label-danger {
    background-color: #d9534f !important;
}

.ul_items {
    margin-left: 5px;
}

#contentOrgan {margin-bottom: 20px;}

/* editable */
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:auto;
}
#sortable li {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: 2px 3px 2px #eee;
    font-size: 14px;
    margin: 0 0 20px;
    padding: 1em 1em 1em 1.8em;
}

#sortable li span {
   /* position: absolute;
    margin-left: -1.3em;*/
}

span.proposalNumber {
    color: #007bc0;
    float: left;
    font-size: 20px;
    margin-left: -10px;
    margin-right: 8px;
}
.DADES > h2 {
    margin-bottom: 15px;
    margin-top: 40px;
}

.DADES ul, .DADES ol {
    margin: 5px 0;
    /* margin: 0 0 9px 25px; */
}

/*span.proposalNumberSubpunt{
    color: #007bc0;
    margin-left: 0;

}*/

span.proposalNumberSubpunt {
    color: #007BC0;
    margin-left: 0;
}

#sortable .ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
    background: #f0f0f0;
}

#sortable .ui-state-highlight2 {
    height: 1.5em;
    line-height: 1.2em;
    background: red;
}

.textFloating {
    font-size:18px;
    font-weight: bold;
    padding-left: 20px;
    border-color: black;
}

.ui-state-grey {
    border: 1px solid #D4D4D4;
    position: relative;
    font-weight: normal;
    color: black;
}

.ui-state-grey:hover {
    background: #f9f9f9 none repeat scroll 0 0;
    cursor: move;
    position: relative;
}    

.ui-state-grey:hover:before {
    /*content: "\f07d";*/
    font-family: FontAwesome;
    cursor: move;
    color: #007BC0;
   position: absolute;
   font-size: 15px;
   bottom: 10px;
   left:10px;
}


.titleSize {
    color: #555 !important;
    font-size: 16px;
    font-weight: normal;
}


.llistaAfegir {
    /*border-top: 1px solid #777777;*/
    margin-top:10px;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-align:right;
}

.llistaAfegir a {
    padding: 1px 4px 2px;
}

.llistaAfegir a:hover {
    background-color: #D4D4D4;
    color: black;
    padding: 1px 4px 2px;
}

.editTitle.editable.subtitleSize {
    color: #555;
    font-weight: normal;
}
/*.editTitle:hover {
    cursor: text;
}*/

span.label.nomarginLeft  {
    margin-left: 10px !important;
    margin-right: 5px;
    position: initial !important;
    float: right;
    font-size:10px;
}

.puntTitle {
    color: black;
    font-size:16px;
    font-weight: bold;
    font-color: black;
    margin-bottom: 15px;    
}
.subpuntTitle {
    font-size: 16px;
    margin-top: 5px;
    padding-left: 25px;
}

#modalSession {
    width: 800px;
}


#modalSessionView {
    list-style-type: none;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    width:auto;
    border: 1px solid #D4D4D4;
    font-weight: normal;
    color: black;
}


.fa {
    font-family: Arial, Helvetica, sans-serif!important;
}


.fa:before {
    content: "\f067";
    font-family: FontAwesome;
}

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: dotted 1px white!important;
    padding: 2px 4px;
}

/*a.editable-click:hover:after {
    content: "\f040";
    color: #007BC0;
    font-size: 12px;
    font-family: Fontawesome;

}*/

label.label.label-default {
    color: #777777;
    font-weight: 500;
    background-color: #eee;
    margin-right: 3px;
    text-shadow:none!important;
}

label.label.label-default{padding: 2px 4px!important;}

.btn-group {
    margin-top: 0px;
    margin-right: 5px;
}

.subpuntTitle ul li {

}

.btn-group a {
    margin: 1px;
}

ul:empty {
   padding: 0px!important;
}

a.addinsubpunt {
    background-color: orange!important;
}
a.remove{background-color: #e8003d!important}

.filesinTable .fa {
    margin-right: 4px;
}
.filesinTable .fa-trash-o {
    color: white;
    margin-right: 0;
}
.filesinTable > a {
    color: #555;
    font-weight: normal;
}


.subpuntTitle:hover:before {
    /* content: "\f07d";*/
    cursor: move;
    font-family: FontAwesome;
    color: #ccc;
   font-size: 13px;
   font-weight: 300;
       left: 15px;
    position: absolute;

}

.ui-state-grey:hover:before {
    /*content: "\f07d";*/
    font-family: FontAwesome;
    cursor: move;
    color: #ccc;
   position: absolute;
   font-size: 14px;
   bottom: 5px;
   left:5px;
}


#sortable .ui-state-highlight2 {
   height: 2em;
   line-height: 1.2em;
   background-color: transparent!important;
   border:2px dotted red!important;
   border-radius: 5px;
}

.DADES button {
    background: #ccc none repeat scroll 0 0;
    border: medium none !important;
    margin: 1px !important;
    padding: 2px 6px 3px;
    text-shadow: none;
    vertical-align: top;    
}
.DADES .remove:hover {
    background: #d14836 none repeat scroll 0 0;
}


.label.dropdown-toggle {

}
.label.dropdown-toggle:hover {
    background: #007bc0 none repeat scroll 0 0 !important;
}
.DADES .caret {
    border-top: 4px solid #fff;
    vertical-align: middle;
}

.DADES .edit.label:hover { background-color: #007bc0; color: }
.DADES .edit.label a{ color:white!important; }
#estats > a, #menu1 a {
    background: transparent none repeat scroll 0 0 ;
    color: white;
}
.btn-info, .link-parent {
    background-image: linear-gradient(to bottom, #007bc0, #007bc0)!important;
    background-repeat: repeat-x;
    border-color: transparent;
    border-radius: 3px!important;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .link-parent:hover, .btn-info:active, .link-parent:active, .btn-info.active, .btn-info.selected, .selected.link-parent, .contentViews .btn-info.selected:hover, .contentViews .selected.link-parent:hover, .active.link-parent, .btn-info.disabled, .disabled.link-parent, .btn-info[disabled], .link-parent[disabled] {
    background-color: #0273b3!important;
    border-color: transparent;
    color: #fff;
}
#sortable .dropdown-menu {
    border: 1px solid #ddd;
    border-radius: 3px;
}
#sortable .dropdown-menu li{
    border:0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-shadow: none;
}
#sortable .dropdown-menu li:last-child {
    border-bottom: 0;
}
#sortable .dropdown-menu li:hover {
    background: #f5f5f5;
}
#sortable .dropdown-menu li a:hover {
background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    color: black;
    text-decoration: none;
}
.listFiles {
    list-style: none;
    padding-left: 25px;
    padding-top: 10px;
}
.DADES .expand, .DADES .notexpand, .DADES .expand:hover, .DADES .notexpand:hover {
    background: transparent none repeat scroll 0 0;
    color: #007bc0;
}
#sortable .filesinTable {
    background: transparent none repeat scroll 0 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    margin-bottom: 5px;
    padding: 0 0 10px;
}
#sortable .filesinTable:last-child {
    border-bottom: 0px solid #ececec;
}

/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}


.caixaPunts {
    float: right;
    background-color: #eeeeee;
    padding: 15px 15px;
    list-style: none;
}
