.portaltype-genweb-organs-organgovern div.tab-pane.active,
.portaltype-genweb-organs-sessio div.tab-pane.active,
.portaltype-genweb-organs-acta div.tab-pane.active {
    padding-top: 20px;
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

ul#tabs.nav.nav-tabs {
    margin: 0px;
}

#contentOrgan #tabs li a,
#contentSessio #tabs li a,
#contentActa #tabs li a {
    background-image: none;
    background-color: #D4D4D4;
    padding: 10px 20px 10px 20px;
    border: none;
    margin-right: 5px;
}

#contentOrgan #tabs li.active a,
#contentSessio #tabs li.active a,
#contentActa #tabs li.active a  {
    background-image: none;
    background-color: #f0f0f0;
    border: none;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 0px solid #B2B2B2 !important;
}

#contentSessio #tabs > li.dropdown.open > ul > li > a {
    background-color: white;
    color: black;
}

#dadesTab li,
#multimediaTab li
 {
    border-bottom: 1px solid white;
    list-style: outside none;
    padding-bottom: 8px;
    padding-top: 8px;
}

#dadesTab ul,
#multimediaTab ul{
    margin-left:0px;
}

a.collapsed .icon-chevron-down{
    background-position: -456px -72px;
}

table th {
    background-color: #F7F7F7!important;
}

.containerIcons {
    text-align: center;
    padding: 10px;
}

.containerIcons > i {
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}


/* CSS  modal afegir punts massivament */
#form-widgets-message {
    width: 530px;
    height: 190px;
 }

/* add 98% to width */
input#form-widgets-title,
input#form-widgets-llocConvocatoria,
input#form-widgets-horaInici,
input#form-widgets-horaFi,
input#form-widgets-IBasic-title,
input#form-widgets-acronim,
input#form-widgets-fromMail ,
input#form-widgets-any,
input#form-widgets-numSessio,
input#form-widgets-enllacVideo,
input#form-widgets-enllacAudio,
input#form-widgets-proposalPoint,
input#form-widgets-agreement {width: 98%;}

/*  Hide view action tab */
.portaltype-genweb-organs-organsfolder #plone-contentmenu-display,
.portaltype-genweb-organs-acta #plone-contentmenu-display,
.portaltype-genweb-organs-organgovern #plone-contentmenu-display,
.portaltype-genweb-organs-punt #plone-contentmenu-display,
.portaltype-genweb-organs-sessio #plone-contentmenu-display {display:none;}

.label-danger {
    background-color: #d9534f !important;
}

.ul_items {
    margin-left: 5px;
}

#contentOrgan {margin-bottom: 20px;}

/* editable */
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:auto;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 14px;
    /*height: 27px;*/
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#sortable .ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
    background: #f0f0f0;
}

#sortable .ui-state-highlight2 {
    height: 1.5em;
    line-height: 1.2em;
    background: red;
}

.textFloating {
    font-size:18px;
    font-weight: bold;
    padding-left: 20px;
    border-color: black;
}

.ui-state-grey {
    border: 1px solid #D4D4D4;
/*    background-color: #D4D4D4;*/
    font-weight: normal;
    color: black;
}

.ui-state-grey:hover {
    background-color: #f0f0f0;
    cursor: move;
}

.filesinTable{
    margin: 3px !important;
    padding: 0px !important;
}

.titleSize {
    font-size:16px;
    font-weight: bold;
    font-color: black;
}


.llistaAfegir {
    border-top: 1px solid #777777;
    margin-top:10px;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-align:right;
}

.llistaAfegir a {
    padding: 1px 4px 2px;
}

.llistaAfegir a:hover {
    background-color: #D4D4D4;
    color: black;
    padding: 1px 4px 2px;
}


.editTitle:hover {
    cursor: text;
}

span.label.nomarginLeft  {
    margin-left: 10px !important;
    margin-right: 5px;
    position: initial !important;
    float: right;
    font-size:10px;
}

.puntTitle {
    color: black;
    font-size:16px;
    font-weight: bold;
    font-color: black;
}

.subpuntTitle {
    color: black;
    font-size:16px;
    font-weight: bold;
    font-color: black;
}
