.label-convocada,
.label-tancada,
.label-realitzada,
.label-open_organ,
.label-Públic,
.label-Obert,
.label-planificada,
.label-restricted_to_affected_organ,
.label-en_correccio,
.label-restricted_to_members_organ {
  padding: 1px 4px 2px;
  border-radius: 3px !important;
  font-weight: bold !important;
  line-height: 14px !important;
  color: white !important;
  vertical-align: baseline !important;
  white-space: nowrap !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  text-align: center !important;
}

.label-convocada {
  background-color: #8952ab !important;
}

.label-tancada {
  background-color: #007bc0 !important;
}

.label-realitzada,
.label-open_organ,
.label-Públic,
.label-Obert {
  background-color: #456211 !important;
}

.label-planificada {
  background-color: #FFA500 !important;
}

.label-restricted_to_affected_organ {
  background-color: #FF5733 !important;
}

.label-en_correccio,
.label-restricted_to_members_organ {
  background-color:  #a62e1f !important;
}

#workflow-transition-convocar {
  display: none !important;
}

.portaltype-genweb-organs-organsfolder,
.portaltype-genweb-organs-organgovern,
.portaltype-genweb-organs-punt,
.portaltype-genweb-organs-subpunt,
.portaltype-genweb-organs-file,
.portaltype-genweb-organs-documen,
.portaltype-genweb-organs-acta,
.portaltype-genweb-organs-audio,
.portaltype-genweb-organs-annex,
.portaltype-genweb-organs-acord {

  li#plone-contentmenu-workflow,
  li#plone-contentmenu-multilingual {
    display: none;
  }
}

.text-bg-signada {
  color: #fff !important;
  background-color: RGBA(var(--bs-success-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-pendent {
  color: #fff !important;
  background-color: RGBA(var(--bs-warning-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-rebutjada {
  color: #fff !important;
  background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
}